html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Poppins Regular, sans-serif;
    text-align: center;
    background-color: black;
}

.div_main_title{
    padding-top: 8vw;
}

.main_title {
    color: #e1e1e1;
    margin-top: 20px;
    font-size: 5em;
}

.currently {
    color: #e1e1e1;
    font-size: 1.5em;
}

.nav_link_list {
    background-color: #282828;
    padding: 2vw 2vh;
    border-radius: 20vw;
    margin: 20px auto;
    list-style-type: none;
    display: flex; /* Utilisation de flexbox pour la disposition */
    justify-content: center; /* Centre les éléments horizontalement */
    flex-wrap: wrap; /* Permet aux éléments de se placer sur plusieurs lignes si nécessaire */

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}


.nav_link_list li {
    display: inline;
    margin: 10px;
}

.nav_link_list a {
    text-decoration: none;
    color: #656565;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #282828;
    transition: background-color 0.3s;
}

.nav_link_list a:hover {
    color: #ffffff;
}

.centered_image {
    display: block;
    margin: 3vw auto;
    max-width: 15%;
    border-radius: 15px;
}

.about_me {
    margin: 20px auto;
    max-width: 80%;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
    color: #e1e1e1;
}

.download_cv {
    color: #e1e1e1;
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

.download_cv:hover {
    color: #3d3df3;
}

.experience_section_global {
    padding-top: 6vw;

}

.experience_section_container {
    margin: 40px auto;
    max-width: 80%;
    background: linear-gradient(90deg, #000000 0%, #b980ff 100%);
    padding: 3px; /* Ajustez pour l'épaisseur de la "bordure" */
    border-radius: 20px; /* Plus large que la section intérieure pour compenser l'épaisseur */
}

.experience_section {
    background: linear-gradient(66deg, #000000 55%, #9F80FF 100%);
    padding: 20px;
    border-radius: 20px
}

.experience_title {
    color: #e1e1e1;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.experience_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience_item {
    background-color: #383838;
    padding: 15px;
    border-radius: 10px;
}

.experience_item h3 {
    color: #ffffff;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.experience_description {
    color: #d1d1d1;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
    text-indent: 2vw;
}



.large-header {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

#large-header {
    background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
}

.main-title .thin {
    font-weight: 200;
}

@media only screen and (max-width : 768px) {
    .demo-1 .main-title {
        font-size: 3em;
    }
}

@media (max-width: 600px) {
    .nav_link_list {
        padding: 4vw 4vh;
        border-radius: 10vw;
    }

    .nav_link_list a {
        padding: 15px 20px; /* Augmente la taille des éléments sur petits écrans */
    }
}

.etude_section_global {
    padding-top: 6vw;

}

.etude_section_container {
    margin: 40px auto;
    max-width: 80%;
    background: linear-gradient(90deg, #000000 0%, #809eff 100%);
    padding: 3px; /* Ajustez pour l'épaisseur de la "bordure" */
    border-radius: 20px; /* Plus large que la section intérieure pour compenser l'épaisseur */
}

.etude_section {
    background: linear-gradient(66deg, #000000 55%, #4378fc 100%);
    padding: 20px;
    border-radius: 20px
}

.etude_title {
    color: #e1e1e1;
    font-size: 5em;
    margin-bottom: 5vw;
    text-align: center;
}

.etude_date  {
    font-size: 1.5em;
    color: darkgrey;
}

.etude{
    font-size: 2.5em;
    color: #e1e1e1;
}

.etude_content {
    display: flex;
    flex-direction: column;

}

.ligne {
    height: 2px;
    background: linear-gradient(246deg, #000000 1%, #4378fc 100%);
    width: 100%; /* Largeur de la ligne */
    margin: 20px 0; /* Marge autour de la ligne */
}